<script>
	import GlobalStyle from '../components/Global/GlobalStyle.svelte';
	import Nav from '../components/Global/Nav.svelte';
	export let segment;
</script>

<GlobalStyle/>

<Nav {segment}/>

<main>
	<slot></slot>
</main>